body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 40px;
}

#app {
  width: 300px;
  margin: 0 auto;
}

#todoInput {
  width: 70%;
  padding: 10px;
}

#addTodo {
  padding: 10px 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.removeBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 18px;
  line-height: 1;
  margin-left: 10px;
  padding: 0;
  color: red;
}

li {
  background-color: #f7f7f7;
  margin: 8px 0;
  padding: 10px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:hover {
  background-color: #ddd;
}
